body {
  margin: 0;
}

iframe {
  top: -27%;
  left: 0px;
  height: 154%;
  width: 100%;
  opacity: 1;
  display: block;
  position: absolute;
}

#background-video {
  position: absolute;
  width: 100%;
  height: 650px;
  overflow: hidden;
  transform: translateZ(0);
  display: block;
  border-radius: 0;
}

#block-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 650px;
  position: relative;
}
